footer,
header {

    background: #2F2F2F;
    text-align: center;
    width: 100%;
    height: 200px;

}

header {
    position: absolute;
    top: 0;
}

header img {
    display: inline-block;
    width: 150px;
    height: 150px;
}

header:after {
    content: '';
    position: relative;
    width: 100%;
    height: 10px;
    display: block;
    bottom: -45px;
    background: greenyellow;
}

footer {
    bottom: 0;
}

footer:before {
    content: '';
    position: relative;
    width: 100%;
    height: 10px;
    display: block;
    top: -10px;
    background: greenyellow;
}

body > div > div {
    float: left;
}

.container {
    width: 1000px;
    margin: auto;
    padding: 20px;
    overflow: auto;
    display: block;
    height: auto;
    margin-top: 200px;
}

.left-menu {
    width: 25%;
    margin-right: 30px;
}

.content {
    width: 70%;
}

.left-menu > ul > li {
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: #dedede;
}

.left-menu > ul > li.active {
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: greenyellow;
}
